* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image-fit:hover + .replace-image{
display: block;
}
.hide-input {
  display: none;
}
.replace-image{
  position: absolute;
  top: 10px;
  left: 45%;
  font-size: 25px;
  color: rgb(242, 0, 198);
  border: 2px dotted rgb(242, 0, 198);
  background: white;
  padding: 0 10px;
  border-radius: 10px;
  display: none;
}
.replace-image:hover {
  display: block;
}
